.container{
    width: 80%;
    margin: auto;
}
h1{
    color: red;
    text-transform: capitalize;
}
p{
    background: black;
    color: white;
    padding: 20px;
    font-size: 2rem;
    text-align: justify;
}
form{
    padding: 30px;
    background: black;
    color: white;
}
.txt{
    width: 98%;
    padding: 10px;
}
.btn{
    padding: 10px;
    width: 250px;
}
h3{
    border: 3px solid green;
    color: green;
    padding: 20px;
    visibility: hidden;
}